
  



  nav {
        position: fixed;

  }
  
  .mainbg{

    position: relative;
  }

  .foodie{

    position:absolute;
    right: 40%;
    bottom: 65%;
    color: white;
    font-size: 60px;

  }

  .booking{
    position: absolute;
      padding: 5px 20px;
      border: 1px solid white ;
      right: 45%;
    bottom: 15%;
    border-radius: 10px ;
    background: transparent;
    color: white;
      font-size: 20px;
  }





 article{
    background-color:#f3f3f3c0;
    text-align: center;
    padding: 50px 30px;

 }

  /* CSS for the slider container */
  #slider {
    overflow: hidden;
    width: 100%;

  }
  
  /* CSS for the slide images */
  #slider figure {
    position: relative;
    width: 200%; /* Adjust this value according to the number of images */
    margin: 0;
    left: 0;
    animation: slide 20s infinite;
  }
  
  /* CSS for individual images */
  #slider figure img {
    width: calc(100% / 2); /* Adjust this value based on the number of images */
    float: left;
  }
  
  /* CSS for the animation */
  @keyframes slide {
    0% {
      left: 0;
    }
    
    25% {
      left: 0;
    }
    
    
    50% {
      left: -100%;
    }
    
    75% {
      left: -100%;
    }
    
    
    100% {
      left: 0;
    }
  }

.footer{
 background-color:#f3f3f3c0 ;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 50px 30px;
    max-width: 100%;

}

.col{

    padding-right: 20px;
}


.slidering{
       height: 400px;
    }
